@charset "utf-8";

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #f6f5da;
}

/*-- Banner --*/

.banner_wrapp {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 100vh;
}

.banner_wrapp > div {
    width: 100%;
}

.banner {
    background-color: #f6f5da;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

.banner_shape {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner_row {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    max-width: 1170px;
    padding: 0 25px;
    margin: 0 auto;
}

.banner_descript {
    width: 100%;
    max-width: 600px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.banner_descript .logo {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0;
}

.banner_descript h2 {
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #25375a;
    font-size: 80px;
    line-height: 1.2;
}

/*-- /Banner --*/

@media only screen and (max-width: 767px) {

    /*-- Banner --*/

    .banner_shape {
        height: auto;
        position: relative;
        max-width: 100%;
    }

    .banner_descript {
        max-width: 100%;
    }

    .banner_descript h2 {
        padding: 10px 0;
        font-size: 56px;
        line-height: 1.2;
    }

    /*-- /Banner --*/

}

@media only screen and (max-width: 480px) {

    /*-- Banner --*/

    .banner_row {
        justify-content: center;
        -webkit-justify-content: center;
    }

    .banner_descript .logo {
        margin: 5px 0;
    }

    .banner_descript h2 {
        padding: 0;
        font-size: 40px;
    }

    /*-- /Banner --*/

}